[app]
; xmpp или mail, для выбора типа транспорта
transport = xmpp

[db]
host     = localhost
dbname   = DBname
port     = 5432
username = user
password = password

[xmpp]
; имя jabber-сервер 
host     = host
; порт jabber-сервер
port     = 5222
; имя пользователя для подключения к серверу
username = username
; пароль для подключения к серверу
password = password
; название ресурса
resource = robot
; имя получателя
sender   = username@host

[mail]
; имя протокола
driver      = smtp
; имя сервера
host        = smtp.yandex.com
; порт сервера
port        = 465
; использование шифрования
encryption  = ssl
; требовать проверки используемого SSL-сертификата
verifypeer  = true
; имя пользователя для подключения к серверу
username    = username@yandex.com
; пароль для подключения к серверу
password    = password
; адрес отправителя
from[email] = username@yandex.com
; имя отправителя
from[name]  = EAVIIAS Robot
; имя получателя
to[email]   = to@yandex.com
; имя получателя скрытой копии
;bcc[email]   = hide@gmail.com

[task]
;https://crontab.guru/
epgu = 0 8-15 * * 1-5
fri =  0 8-15/5 * * 1-5
remd = 0 8-15 * * 1-5
request = 0 8-15 * * 1-5
ipra = 0 8-15 * * 1-5
examksi = 0 8-15/5 * * 1-5
directionksi = 0 8-15 * * 1-5
signmissing = 0 8-15 * * 1-5
copycertmissing = 0 8-15 * * 1-5
